@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'EB Garamond', serif;
}

h1 {
  font-size: 3.4rem !important;
}

h2 {
  font-size: 3rem !important;
}

h3 {
  font-size: 2.6rem !important;
  font-weight: 600 !important;
}

h4 {
  font-size: 2rem !important;
  font-weight: 500 !important;
}

h5 {
  font-size: 1.6rem !important;
}

h6 {
  font-size: 1.2rem !important;
}

.font-dancing {
  font-family: 'Dancing Script', cursive;
}

.font-garamond {
  font-family: 'EB Garamond', serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.container {
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;
  height: 100vh;
  margin: 0 auto;
  margin-top: 54px;
}

.grid-cols-12-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;
  opacity: 10%;
}

/* @media screen and (max-width: 1024px) {
  .container {
    margin: 54px 0;
  }
} */

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container a {
  cursor: pointer;
}

.navbar-container a:not(:last-child) {
  margin-right: 64px;
}

.navbar-container a:hover {
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
}

@layer components {
  .nav-text {
    @apply text-primary text-sm tracking-wide font-semibold uppercase;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
